@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-primary: #18181b;
  --color-primary-foreground: #ffffff;
  --color-secondary: #3f3f46;
  --color-secondary-foreground: #fafafa;
  --color-accent: #2563eb;
  --color-accent-foreground: #ffffff;
}

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
